body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 45px;
    height: 45px;
}
.media-body{
    padding-top: 5px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.mysection{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.comment-but{
    float: right;
    margin: 0px 0px 10px 0px;
}
.comment-sper{
    margin-top:0;
}
